.footer {
  width: 77.8%;
  min-height: 175px;
  padding: 0 11.1%;
  background-color: $main-color;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__copy {
    color: $mono-color;
    @include subtitle;
  }
}
