.header {
  width: 77.8%;
  min-height: 135px;
  padding: 0 11.1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $light-mono-color;

  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.7vw;
  }

  &__nav-link {
    color: $text-color;
    @include subtitle;
    text-decoration: none;
    white-space: nowrap;
  }
}
