.header {
  width: 80%;
  min-height: 135px;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $light-mono-color;

  &__nav-list {
    list-style: none;
  }

  &__nav-link {
    color: $text-color;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
  }
}
