$main-color: #4379ee;
$text-color: #202224;

$dark-mono-color: #a8abad;
$mono-color: #f4f5f9;
$light-mono-color: #ffffff;

$red-signal-color: #f93c65;
$green-signal-color: #00b69b;
$yellow-signal-color: #ffe066;
