.select {
    border: none;
    border-left: 1px solid $dark-mono-color;
    width: 192px;
    box-sizing: border-box;
    background: transparent;
    display: flex;
    padding: 14px 24px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &__flag {
        width: 36px;
        height: 26px;
    }
    &__text {
        font-family: Nunito Sans;
        font-size: 32px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0.10000000149011612px;
        color: $text-color;
        text-transform: uppercase;
    }
    &__arrow {
        width: 24px;
        height: 14px;
    }
    &__arrow-rotated {
        transform: rotate(180deg);
    }
}
