/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Nunito Sans";
  src: local("Nunito Sans Bold"), url("vendor/fonts/NunitoSans-Bold.woff2") format("woff2"), url("vendor/fonts/NunitoSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: local("Nunito Sans SemiBold"), url("vendor/fonts/NunitoSans-SemiBold.woff2") format("woff2"), url("vendor/fonts/NunitoSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: local("Nunito Sans Regular"), url("vendor/fonts/NunitoSans-Regular.woff2") format("woff2"), url("vendor/fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.header {
  width: 1120px;
  margin: 0 auto;
  min-height: 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}
.header__nav-list {
  list-style: none;
}
.header__nav-link {
  color: #202224;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.main {
  background-color: #f4f5f9;
  min-height: 500px;
}

.footer {
  min-height: 175px;
  background-color: #4379ee;
  display: flex;
  align-items: center;
}
.footer__copy {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #f4f5f9;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1120px;
  margin: 0 auto;
}

.curconverter {
  padding: 170px 0;
  display: flex;
  justify-content: space-between;
  width: 1120px;
  margin: 0 auto;
}
.curconverter__column-left {
  width: 472px;
}
.curconverter__heading {
  font-size: 68px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -0.1142857px;
  color: #202224;
  margin: 22px 0 28px;
}
.curconverter__text {
  color: #202224;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.converter {
  background-color: #ffffff;
  padding: 32px 24px;
  border-radius: 12px;
}
.converter__inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.converter__input {
  display: flex;
  width: 502px;
  height: 76px;
  border: 1px solid #a8abad;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: #f4f5f9;
  position: relative;
}
.converter__input-toogle {
  width: 18px;
  height: 18px;
  visibility: visible;
  cursor: pointer;
}
.converter__wrapper-input-toogle {
  display: grid;
  grid: auto 14px/repeat(2, auto);
  gap: 5px 21px;
  align-items: center;
  position: relative;
}
.converter__input-toogle-hidden {
  visibility: hidden;
}
.converter__input_hidden {
  display: none;
}
.converter__textinput-container {
  box-sizing: border-box;
  margin: 0 0 0 8px;
}
.converter__textinput {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  padding: 0;
  outline: 0;
  outline-offset: 0;
  font-family: Nunito Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.1000000015px;
  color: #202224;
}
.converter__textinput::-webkit-outer-spin-button,
.converter ::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.converter__textinput::-webkit-input-placeholder,
.converter ::-moz-placeholder,
.converter :-moz-placeholder,
.converter :-ms-input-placeholder {
  font-family: Nunito Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.1000000015px;
  color: #a8abad;
}
.converter__currency-icon {
  display: block;
  width: 22px;
}
.converter__data-container {
  width: 310px;
  padding: 14px 8px 14px 24px;
  display: flex;
  box-sizing: border-box;
}
.converter__currency-icon {
  font-family: Nunito Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.1000000015px;
  color: #202224;
}
.converter__loading {
  position: absolute;
  top: -1px;
  width: 502px;
  height: 76px;
  border-radius: 12px;
  z-index: 3;
  object-fit: scale-down;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
}
.converter__loading_active {
  visibility: visible;
}

input[type=number]::placeholder {
  font-family: Nunito Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.1000000015px;
  color: #a8abad;
  margin: 20px 0 0 0;
}

.select {
  border: none;
  border-left: 1px solid #a8abad;
  width: 192px;
  box-sizing: border-box;
  background: transparent;
  display: flex;
  padding: 14px 24px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.select__flag {
  width: 36px;
  height: 26px;
}
.select__text {
  font-family: Nunito Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.1000000015px;
  color: #202224;
  text-transform: uppercase;
}
.select__arrow {
  width: 24px;
  height: 14px;
}
.select__arrow-rotated {
  transform: rotate(180deg);
}

.button {
  display: flex;
  width: 184px;
  height: 52px;
  box-sizing: border-box;
  background-color: #4379ee;
  border-radius: 14px;
  border: none;
  margin: 20px 0 0 0;
  gap: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.button__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
.button__hidden {
  display: none;
}

.error {
  display: block;
  color: #f93c65;
  font-size: 14px;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.popup {
  background: rgba(0, 0, 0, 0);
  height: 400px;
  position: absolute;
  top: 76px;
  right: -25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 8px 24px 0 0;
  box-sizing: border-box;
  border-radius: 12px;
  z-index: 1;
}
.popup__hidden {
  display: none;
}
.popup__input {
  box-sizing: border-box;
  border: none;
  background: transparent;
  padding: 0 0 0 12px;
  outline: 0;
  outline-offset: 0;
  width: 209px;
  height: 56px;
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.popup__input::-webkit-input-placeholder,
.popup ::-moz-placeholder,
.popup :-moz-placeholder,
.popup :-ms-input-placeholder {
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #a8abad;
}
.popup__search {
  box-sizing: border-box;
  border: 1px solid #a8abad;
  width: 250px;
  height: 56px;
  display: flex;
  border-radius: 12px;
  padding-right: 21px;
  background-color: #ffffff;
}
.popup__text {
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  color: #a8abad;
  padding: 0 0 12px 0;
  margin: 0;
}
.popup__overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
}
.popup__overlay-hidden {
  display: none;
}

.currencycard {
  display: grid;
  grid-template-columns: 36px 167px;
  gap: 4px;
  cursor: pointer;
  padding: 12px 0;
}
.currencycard__container {
  margin-top: 4px;
  padding: 0 10px 0 0;
  display: flex;
  flex-direction: column;
  height: 335px;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0);
  border-radius: 12px;
  width: 248px;
  box-sizing: border-box;
}
.currencycard__wrapper-background {
  position: absolute;
  width: 80%;
  height: 335px;
  border-radius: 12px;
  background-color: #ffffff;
}
.currencycard__wrapper {
  padding: 20px 0 12px 16px;
  z-index: 2;
}
.currencycard__container::-webkit-scrollbar {
  width: 16px;
  background-color: #f4f5f9;
  border-radius: 12px;
  right: 20px;
}
.currencycard__container::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #4379ee;
  width: 16px;
  cursor: pointer;
}
.currencycard__flag {
  width: 36px;
  height: 26px;
}
.currencycard__name {
  text-transform: uppercase;
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #202224;
}
.currencycard__description {
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: gray;
  grid-column: 1/3;
}
.currencycard__hidden {
  display: none;
}

body {
  font-family: Nunito Sans, sans-serif;
}

/*# sourceMappingURL=index.css.map */
